
.TextData {
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  
}

.TData {
  color:#fccb06ee;
  display: flex;
  justify-content: center;
  align-items:stretch;
}


.Icon {
  background-color: aliceblue;
}

.btn {
  height: auto;
  width: 8rem;
margin-left: 100dvh;
}